.container {
    border: 0.3em solid darkred;
    border-radius: 1em;
    padding: 2em;
    width: 50%;
    background: #000000;
    color: #ffffff;
}

.boton-logout {
    background-color: darkred;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1em;
    margin-top: 1em;
}

.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}