body {
    font-family: Arial, sans-serif;
    background: white;
    color: black;
}

.hoja {
    width: 90%;
    margin: auto;
}

h1,
h2 {
    text-align: center;
    font-size: 2em;
}

.descripcion {
    border: 1px solid #000;
    padding: 10px;
    min-height: 60px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid black;
    padding: 6px;
    text-align: left;
    font-size: 1em;
}

@media print {
    body {
        margin: 0;
    }
}

.logo {
    position: fixed;
    width: 100px;
    margin-left: 80%;
    margin-top: -3%;
}

p {
    font-size: 1.2em
}