{% extends "base.html" %}

{% block title %}Chat{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/chat_general/chat_general.css">
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<div class="container">
    <h2 class="texto-chat">Chat</h2>
    <div id="lista-mensajes" class="chat-messages">
        {% for msg in mensajes %}
        <p class="texto-mensaje"><strong>{{ msg.usuario }} ({{ msg.tipo_usuario }}):</strong> {{ msg.mensaje }}</p>
        {% endfor %}
    </div>
    <input id="mensaje" placeholder="Escribe algo..." class="mensaje"><br>
    <button type="button" onclick="enviar()" class="boton-zona">Enviar</button>
    <button type="button" onclick="window.location.href='/volver/menus'" class="boton-logout">Volver</button>

    <script src="/static/js/chat.js"></script>
    <img src="/static/Cecytem_(Imagen).jpeg" class="fondo-menu">
</div>

{% endblock %}