<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Materia</title>
    <link rel="stylesheet" href="/materias/static/materias.css">
</head>

<body>
    <div class="container">
        <h1>Editar Materia</h1>
        <form method="POST">
            <label for="nombre">Nombre de Materia:</label>
            <input type="text" id="nombre" name="nombre" value="{{ materia.nombre }}" required><br>

            <label for="profesor">Profesor:</label>
            <input type="text" id="profesor" name="profesor" value="{{ materia.profesor }}" required><br>

            <button type="submit">Guardar Cambios</button>
            <button type="button" onclick="location.href='{{ url_for('materias') }}'">Cancelar</button>
        </form>
    </div>
</body>

</html>