<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/impresiones/plantilla.css">
    <title>Impresion</title>
</head>

<body>
    {% extends "base.html" %}

    {% block title %}Calificaciones de alumnos{% endblock %}

    {% block content %}
    <div class="container">
        <img src="/static/LANJ.png" class="logo">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form method="POST">
            <h1>IMPRESION PERRONA <strong>(todavia no hecha)</strong></h1>

            <label class="ca">Cantidad de Actividades: </label>
            <label class="ac">Actividades: </label>
            <label class="nda">Numero de Actividad: </label>
        </form>
    </div>
    <img src="/static/Cecytem_(Imagen).jpeg" class="fondo">
    {% endblock %}
</body>

</html>